#Ignore maven build folder
recipecalc/fxui/target
recipecalc/core/target
recipecalc/target
recipecalc/.vscode
recipecalc/data/src/main/resources
recipecalc/core/src/main/resources
recipecalc/data/target
recipecalc/restapi/target
recipecalc/client/target

#Ignore macOS DS_store files
.DS_store

#Ignore InetlliJ configurations files
.idea/