#Ignore maven build folder
tacocalc/fxui/target
tacocalc/core/target
tacocalc/target
tacocalc/.vscode
tacocalc/data/src/main/resources
tacocalc/core/src/main/resources
tacocalc/data/target
tacocalc/restapi/target
tacocalc/client/target

#Ignore macOS DS_store files
.DS_store

#Ignore InetlliJ configurations files
.idea/