.mfx-text-field {
	-fx-background-color:  transparent;
    -fx-border-color:  #696969;
    -fx-text-fill: #ffffff;
}

.mfx-text-field:focus-within{
    -fx-border-color:  #FFA012;
}

.mfx-text-field .floating-text {
    -fx-background-color:  #2C2C2C;
    -fx-text-fill: #ffffff;
}

.mfx-checkbox {
    -mfx-main:  #FFA012;
}

.mfx-button {
    -fx-background-color: #FFA012;
    -fx-background-radius: 5px;
    -fx-border-radius:  5px;
}

.outline-button {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color:  #FFA012;
    -fx-text-fill: #FFA012;
}

.outline-button .mfx-ripple-generator {
    -mfx-auto-clip: true;
}

.red-button {
    -fx-background-color:  #d40000;
}

#recipe-name-text-field .floating-text {
    -fx-background-color: #1F1F1F;
}

.mfx-scroll-pane {
    -fx-background-color: transparent;
}

.mfx-toggle-button {
    -mfx-main: #FFA012;
	-mfx-secondary: #ffc368;
}

.mfx-combo-box{
    -fx-border-color: #FFA012;
}

.mfx-combo-box:disabled{
    -fx-border-color: #696969;
}

.mfx-combo-box .combo-popup .virtual-flow .mfx-combo-box-cell:hover {
	-fx-background-color: #ffa01256;
}

.mfx-combo-box .combo-popup .virtual-flow .mfx-combo-box-cell:selected {
	-fx-background-color: #ffa012a0;
}

.mfx-combo-box .caret .mfx-font-icon{
    -mfx-color: #FFA012;
}

.mfx-combo-box:disabled .caret .mfx-font-icon{
    -mfx-color: #ABABAB;
}